@model PagedResult<StudentManagementSystem.Models.TeacherViewModel>

@{
    ViewData["Title"] = "Index";
}

<h4 class="mt-3">Teachers List</h4>
<hr />
<div class="d-flex justify-content-end mb-3">
    <!-- Add Bootstrap classes for flexbox and justify content to right -->
    <a asp-action="AddUser" class="btn btn-primary">Add New Teacher</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                UserName
            </th>
            <th>
                Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
            </tr>
        }
    </tbody>
</table>

<cs-pager cs-paging-pagesize=(int)Model.PageSize
          cs-paging-pagenumber=(int)Model.PageNo
          cs-paging-totalitems=(int)Model.TotalItems
          cs-pagenumber-param="pageNo"
          asp-controller="Users"
          asp-action="Index"
          cs-pager-li-current-class="page-item active"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link"></cs-pager>
